.root {
    -fx-background-color: #2D2C2C;
    -fx-background-radius: 4px;
    -fx-padding: 10px 15px;
}

.root:hover {
    -fx-background-color: #353435; 
}

#nameLabel {
    -fx-fill: #F5F5F5;
    -fx-font-family: "Segoe UI", system-ui, sans-serif;
    -fx-font-size: 22px; 
    -fx-font-weight: bold;
}

#reqSentText {
    -fx-fill: #548C2F;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#circleButtons {
    -fx-background-color: #548C2F;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    
    -fx-font-family: "Segoe UI", sans-serif;
    
    -fx-padding: 0;
    -fx-alignment: center;
}

#circleButtons:hover {
    -fx-background-color: #4A7A29;
}

#circleButtons:pressed {
    -fx-background-color: #3E6622;
}

#addFriendButton {
    -fx-background-color: #548C2F;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    
    -fx-font-family: "Segoe UI", sans-serif;
    
    -fx-padding: 0;
    -fx-alignment: center;
}

#addFriendButton:hover {
    -fx-background-color: #4A7A29;
}

#addFriendButton:pressed {
    -fx-background-color: #3E6622;
}